/* -------------------------- *\
 *			LAYOUT
\* -------------------------- */


// -------------------------- //
//			General
// -------------------------- //

:target {
	@include animation-duration(2s);
	@include animation-name(fade-background);
}
@keyframes fade-background {
	0% {
		background-color: $color_primary;
		border: 1px solid darken($color_primary, 10);
	}
	100% {}
}


// -------------------------- //
//			Rules
// -------------------------- //

@import "layout/Header";
@import "layout/Middle";
@import "layout/Footer";
