.skills {

	width: 100%;

	& > .skill-category {

		min-width: 50%;
		margin-bottom: 0;
		float: left;

		&:last-child { margin-bottom: $line_height; }

		h3 {
			margin-bottom: 0;
			padding: ($line_height / 3) ($gutter / 2);

			font-size: $font_size;
			text-align: center;

			color: $color_header;
			background-color: $color_primary;
			border-right: 1px solid darken($color_primary, 10);
		}

		ul {
			margin-bottom: 0;

			font-size: 0;
			list-style: none;

			color: lighten($color_text, 10);
			background-color: $color_header;

			border-left: 1px solid darken($color_header, 2);

			li {

				display: inline-block;
				position: relative;
				min-width: 15%;
				height: 67px;
				margin-bottom: 0;
				vertical-align: middle;

				font-size: $font_size;
				font-family: $font_header;
				text-align: center;

				color: lighten($color_text, 10);
				background-color: $color_header;

				// L'icône devicon ou autre...
				& > [class^="icon-"] {
					position: absolute;
					top: 10%;
					left: 0;
					width: 100%;
					margin-bottom: 0;
					line-height: $line_height * 3;
					height: 100%;

					font-size: 2.4em;
				}

				& > .skill-name {
					display: inline-block;
					margin-bottom: 0;
					height: $line_height * 3;
					padding: $line_height ($gutter / 2);
					opacity: 0;

					font-size: 0.9em;
				}

				&.sub-skill {
					color: lighten($color_text, 20);
					background-color: lighten($color_header, 10);

					&:hover {
						color: lighten($color_header, 10);
						background-color: lighten($color_text, 20);
					}
				}

				&:hover {
					color: $color_header;
					background-color: lighten($color_text, 10);

					& > [class^="icon-"] {
						opacity: 0;
						@include transition-duration(0.4s);;
					}
					& .skill-name {
						opacity: 1;
						cursor: default;

						@include transition-duration(0.6s);;
					}
				}
			}
		}
	}
}

// -------------------------- //
//		Responsive
// -------------------------- //
@media only screen and (max-width: $l_large) {
	.skills {
		& > .skill-category {
			width: 100%;
			padding-bottom: $line_height;

			&:last-child { padding-bottom: 0; }

			& > ul {
				text-align: center;

				li {

					position: relative;
					min-width: 15%;
					min-height: $line_height * 3;

					text-align: center;

					// L'icône devicon ou autre...
					& > [class^="icon-"] { display: none; }

					& > .skill-name {
						display: inline-block;
						opacity: 1;

						font-size: 1em;

						color: lighten($color_text, 20);
					}

					&.sub-skill {
						color: lighten($color_text, 5);
						background-color: lighten($color_header, 5);

						&:hover {
							color: lighten($color_text, 5);
							background-color: lighten($color_header, 5);
						}
					}

					&:hover {
						color: inherit;
						background-color: inherit;
					}
				}
			}
		}
	}
}
