#titleBox {
	max-width: 100%;

	margin: 0 0 ($line_height / 2) 0;
	padding: (3 * $line_height) ($gutter / 2);

	background: $color_text image-url("pattern_dark.jpg") top center;

	& * { text-align: center; }

	& > div {
		max-width: $width;
		margin: $line_height auto 0 auto;
	}

	img {
		background: $color_text image-url("pattern.jpg") fixed;
	}

	& ul { margin-bottom: $line_height; }

	& h1 {
		font-size: 1.8em;
		line-height: 1.6em;

		color: $color_primary;
	}

	& h2 {
		font-family: $font_family;
		font-size: 1.5em;
	}

	& h1:last-of-type { font-size: 1.9em; }
	& h2:last-of-type { margin-bottom: 0; }
}
