.row

  .fl-col-s-12.ft-col-m-6
    p.
      Hébergé généreusement par #[a(href="https://github.com/KabbAmine/kabbamine.github.io") github]

  .fl-col-s-12.lt-col-m-6
    p.
      #[em Icons Fonts] générées avec #[a(href='http://fontastic.me') fontastic].

p.
  Copyright &copy; 2014-2016 #[a(href="https://kabbamine.github.io") Kabbaj Amine]

