section#whoami.row

	div.fl-col-s-12.ft-col-m-4
		h1.category-title Qui suis-je?
		p D'origine marocaine, je me nomme #[strong Kabbaj Amine] et je suis geek auto-proclamé.
		p De plus je prétend être linuxien dans l'âme, #[a(href="http://vim.org") vimmeur] acharné et mini acteur dans la mouvance open-source.

	div.fl-col-s-12.col-m-4
		h1.category-title Que suis-je?
		p Ingénieur informatique de formation, je suis aussi graphiste en herbe et développeur web full-stack.

	aside.fl-col-s-12.lt-col-m-4
		h1.category-title Où me trouver?
		p Sur les vagues du net la plupart du temps, cherchant la vérité ultime.

		include whoami-links.pug
