// - Head - titleBox

section#titleBox

	div
		ul.bubble-img-m2
			li
				img(src='../dist/assets/img/me.jpg', alt='Me')
				p &lt;C-c&gt;gg=G

	div
		h1 Ingénieur informatique
		h2 de formation
		h1 Graphiste & Développeur
		h2 par passion
