doctype html
html(lang="fr")

  head
    block head
      meta(charset="utf-8")
      meta(
        name="viewport"
        content="width=device-width; initial-scale:1.0; maximum-scale=1.0"
      )
      include ../partials/head/links.jade

  body
    block header
      header#header
        include ../partials/header/nav.jade
        include ../partials/header/title-box.jade
    block middle
      #middle
        include ../partials/middle/whoami.jade
        include ../partials/middle/skills.jade
        .clear
        include ../partials/middle/my-projects.jade
    block footer
      footer#footer
        include ../partials/footer/footer.jade
